#edu_right .p-heading{
    text-align: center;
    color: #d35b4e;
    font-size: 2.3rem;
    text-decoration: underline;
}
#edu_right .content{
    display: flex;
    padding: 12px 33px;
}
.content .text{
    width: 60%;
}
.content .sec-heading{
    margin: 23px 33px;
    font-size: 1.5rem;
}
.content img{
    border-radius: 23px;
border: 2px solid black;
}
@media (max-width:710px){
    .content{
        flex-direction: column;
        align-items: center;
    }
    .content img{
        margin-top: 15px;
        width: 223px;
    }.content .text{
        width: 100%;
    }.content .sec-heading{
        margin: 0px;
        font-size: 1.2rem;
    }#edu_right .p-heading{
        font-size: 1.6rem;
    }.content p li{
        font-size: 0.8rem;
    }
}